* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
}
.paragraph{
    font-size: 30px;
}
.header{
    display: flex;
    background-color: white;
    flex-basis: 100%;
    justify-content: center;
    padding: 10px;
    border: 2px solid black;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 0 auto;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}
.itens{
    background-color: white;
    flex-basis: 350px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    flex-basis: 100%;
    border: 2px solid black;

}