*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-auto-rows: minmax(310px, auto);
    gap: 10px 15px;
    background-color: darkgrey;
}
.paragraph{
    font-size: 40px;
}
.item{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
}